a{
    cursor: pointer !important;
}

.btn{
    border-radius: 20px;
    background-color: #18BB9C;
    color: white;
}

.formulario{
    max-width: 300px;
}

.img-profile{
    background: url(../img/profile.png) center / contain no-repeat;
    width: 100%;
    height: 200px;
}

input{
    border: 1px solid #2f3f4f !important;
}

nav{
    background-color: #2D3E50;
}

.navbar-toggler{
    background-color: #18BB9C;
}